<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            background-color: aqua;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
        th, td {
            padding: 8px;
            text-align: left;
        }
        .member {
            cursor: pointer;
            font-weight: bold;
            margin-top: 10px;
        }
        .searchedList {
            margin-left: 20px;
        }
    </style>
    <title>Users</title>
</head>
<body>
    <% if(locals.users){ %>
        <h2><%= users.length %> Users</h2>
        <table>
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Account Type</th>
                </tr>
            </thead>
            <tbody>
                <% for(let i = 0; i < users.length; i++) { %>
                    <tr>
                        <td><%= users[i].email %></td>
                        <td><%= users[i].password %></td>
                        <td><%= users[i].account_type %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    <% } else if(locals.friends) { %>
        <h2><%= friends.length %> Friends</h2>
        <ol>
            <% for(let i = 0; i < friends.length; i++) { %>
                <li><%= friends[i].email %></li>
            <% } %>
        </ol>
    <% } else if(locals.search) { %>
        <div id="membersContainer">
            <h2><%= search.length %> Members</h2>
            <ol>
                <% for(let i = 0; i < search.length; i++) { %>
                    <div class="member" data-member-id="<%- i %>" onclick="toggleSearchedList(<%- i %>)">
                        <%= search[i].person %>
                    </div>
                    <ul class="searchedList" data-member-id="<%- i %>" style="display: none;">
                        <% for(let j = 0; j < search[i].searched_for.length; j++) { %>
                            <li><%= search[i].searched_for[j] %></li>
                        <% } %>
                    </ul>
                <% } %>
            </ol>
        </div>
    <% } %>

    <script>
        function toggleSearchedList(memberId) {
            // Get the list corresponding to the member clicked
            const searchedList = document.querySelector(`.searchedList[data-member-id='${memberId}']`);
            
            // Toggle the display property to show/hide the list
            if (searchedList.style.display === "none" || searchedList.style.display === "") {
                searchedList.style.display = "block";
            } else {
                searchedList.style.display = "none";
            }
        }
    </script>
</body>
</html>
